@import "tailwindcss";

body {
  margin: 0;
  background-color: #0B0D10;
  color: #EDEFEF;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow: hidden;
}   